@model IEnumerable<FoodMap.Areas.FoodMapArea.Models.Shop>

@{
    ViewBag.Title = "餐廳資料瀏覽";
}

<div class="container">
    <h2>餐廳資料瀏覽</h2>
    <hr />
    @Html.ActionLink("新增餐廳資料", "Create", "Admin", new { @class = "btn btn-primary" })
    <br />
    <table class="table table-bordered table-hover table-striped" id="productTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(p => p.ShopID)</th>
                <th>@Html.DisplayNameFor(p => p.ShopName)</th>
                <th>@Html.DisplayNameFor(p => p.Address)</th>
                <th>@Html.DisplayNameFor(p => p.Phone)</th>
                <th>@Html.DisplayNameFor(p => p.Image1)</th>
                <th>查看</th>
                <th>修改/刪除　　　　　</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var shop in Model)
            {
                <tr data-shopid="@shop.ShopID">
                    <td>@Html.DisplayFor(p => shop.ShopID)</td>
                    <td>@Html.DisplayFor(p => shop.ShopName)</td>
                    <td>@Html.DisplayFor(p => shop.Address)</td>
                    <td>@Html.DisplayFor(p => shop.Phone)</td>
                    <td><img src="@Url.Action("GetImage",new { id=shop.ShopID})" class="img-thumbnail" width="90px" /></td>
                    <td>@Html.ActionLink("查看", "Detail", "Admin", new { id = shop.ShopID, area = "FoodMapArea" }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("修改", "Update", "Admin", new { id = shop.ShopID }, new { @class = "btn btn-primary" })@Html.ActionLink("刪除", "Delete", "Admin", new { id = shop.ShopID }, new { @class = "btn btn-primary" })</td>
                </tr>
            }

        </tbody>

    </table>
</div>
